# Clase 1: Ejercicios Prácticos de Python

Este notebook contiene ejercicios simples para practicar los conceptos básicos de Python vistos en la clase 1 de Introducción a IA y Ciencia de Datos. Resuelve cada ejercicio en la celda correspondiente y prueba tus conocimientos.

## Ejercicio 1: Variables y tipos

Crea una variable llamada `nombre` que almacene tu nombre y una variable `edad` que almacene tu edad. Muestra ambos valores usando `print()`.

In [10]:
# Escribe tu solución aquí
Nombre = 'Juan'
Edad = 26
print('Nombre:',Nombre)
print('Edad:', Edad)

Nombre: Juan
Edad: 26

## Ejercicio 2: Operaciones aritméticas

Declara dos variables numéricas, súmalas, réstalas, multiplícalas y divídelas. Muestra los resultados con `print()`.

In [8]:
# Escribe tu solución aquí
X = 6546
Y = 9874
print(X+Y)
print(X-Y)
print(X*Y)
print(X%Y)
print(X==Y)

16420
-3328
64635204
6546
False

## Ejercicio 3: Listas

Crea una lista con 5 elementos (pueden ser números o palabras). Muestra la lista y accede al primer y último elemento usando índices.

In [7]:
# Escribe tu solución aquí
Ciudades_Colombia = ['Bogotá','Cali','Medellín','Barranquilla','Cartagena']

print('Ciudad:',Ciudades_Colombia[0])

Ciudad: Bogotá

## Ejercicio 4: Diccionarios

Crea un diccionario que almacene información de una persona (por ejemplo: nombre, edad, ciudad). Muestra el diccionario y accede al valor de la clave `nombre`.

In [3]:
# Escribe tu solución aquí

Persona_1 = {
    'Nombre':'Juan',
    'Apellido': 'Silva',
    'Edad': 26,
    'Ciudad': 'Bogotá',
    'Altura': 1.73}
print('Diccionario:',Persona_1['Nombre'])

Diccionario: Juan

## Ejercicio 5: Conversión de tipos

Convierte una variable de tipo entero a cadena y una cadena a entero. Muestra los resultados y verifica los tipos con la función `type()`.

In [24]:
# Escribe tu solución aquí
Cantidad_vendida = 165478
print("Entero a cadena:", type(str(Cantidad_vendida)))

cadena = "165478"
print("Cadena a entero:", type(int(cadena)))

Entero a cadena: <class 'str'>
Cadena a entero: <class 'int'>

## Ejercicio 6: Tu propio ejemplo

Crea un ejercicio simple usando lo que has aprendido (variables, operaciones, listas o diccionarios). Escribe el enunciado y la solución en las celdas siguientes.

In [ ]:
# Escribe aquí tu propio ejercicio y solución

#1. Debemos ingresar las ventas mensules del primer semestre para la empresa xyz.inc,
# Por favor asigne un valor (int o float) a cada mes en el diccionario:
Ventas = {
    'Enero': 
    'Febrero': 
    'Marzo': 
    'Abril': 
    'Mayo': 
    'Junio': }

#Agrupa las ventas en dos totales y operalos entre si
Total = round((Ventas ['Enero']  Ventas ['Febrero']  Ventas ['Mayo']),0)
Total2 = round((Ventas ['Febrero']  Ventas ['Marzo'] Ventas ['Abril']),0)

print('Total 1:',Total)
print('Total 2:',Total2)

#Usa operadores lógicos enre los totales y que los resultados sean True or False

Resultado =  TotalTotal2

print(Total)

In [61]:
# Escribe aquí tu propio ejercicio y solución

#1. Tenemos las ventas mensules del primer semestre para la empresa xyz.inc,
# Por favor asigne un valor (int o float) a cada mes en el diccionario:
Ventas = {
    'Enero': 25,
    'Febrero': 32456,
    'Marzo': 84,
    'Abril': 654,
    'Mayo': 1213,
    'Junio': 154}

#Agrupa las ventas en dos totales y operalos entre si
Total = round((Ventas ['Enero'] + Ventas ['Febrero'] / Ventas ['Mayo']),0)
Total2 = round((Ventas ['Febrero'] + Ventas ['Marzo']* Ventas ['Abril']),0)

print('Total 1:',Total)
print('Total 2:',Total2)

#Usa operadores lógicos enre los totales y que los resultados sean True or False

Resultado =  Total<=Total2
print(Resultado)

Total 1: 52.0
Total 2: 87392
True